@import "./fonts/fonts.css";

html {
  height: 100%;
}



body {
  background: #171717;
  color: #2121DE;
  font-weight: 500;
  /* font-size: 15px; */
  font-family: 'Press Start 2P';
  height: 100%;
}

.Err-Page {
  background: #010101;
  color: #2121DE;
  font-weight: 500;
  /* font-size: 15px; */
  font-family: 'Press Start 2P';  background: #010101;
  color: #2121DE;
  font-weight: 500;
  /* font-size: 15px; */
  font-family: 'Press Start 2P';
}

